gpytorch==1.9.1
matplotlib==3.6.3
seaborn
numpy==1.24.1
pyhessian==0.1
scipy==1.10.0
tabulate==0.9.0
tqdm==4.64.1
wandb
timm
torch==1.13.1
torchvision==0.14.1
bayesian-torch
laplace-torch
git+https://github.com/modestyachts/ImageNetV2_pytorch
ftfy
regex
pandas
huggingface-hub==0.12.0
transformers==4.26.0
flake8==3.7.9
yapf==0.29.0
isort==4.3.21
yacs
gdown
tb-nightly
future
ftfy
regex
wilds==1.2.2
protobuf==3.20.*
